/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  font-family: "Roboto Slab", serif;
  overflow: none;
}
/*? Desktop nav bar  start*/

.navbar-desk{
  position: fixed;
  height: 7vh;
  width: 99.9%;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
}
.navbar-desk>#nav-bar-title{
  height: 5vh;
  border-radius: 35px;
  margin-top: 5px;
  margin-left: 10px;
}
.navbar-desk>#name{
  font-size: 22px;
  margin-top: 10px;
  margin-left: 5px;
  background: linear-gradient(green 1% , red  100%, yellow 1%);
  color: transparent;
  background-clip: text;
}
.navbar-desk>ul{
  display: flex;
  gap: 40px;
  margin-left: 90px;
}
.navbar-desk>ul>li{
  list-style: none;
  margin-top: 10px;
}
.navbar-desk>ul>li>a{
  color: black;
  font-size: 15px;
  text-decoration: none;
}
.navbar-desk>ul>li>a:hover{
  text-decoration: underline;
  color: green;
}
.navbar-desk>span>i{
  margin-top: 10px;
  margin-left: 90px;
}
/*? Desktop nav bar  end*/

/* ! Mobile nav-bar */
.mobile-nav{
  height: 6.9vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
}
.mobile-nav>img{
  height: 4vh;
  width: 7.5vw;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 5px;
}
.mobile-nav>h4{
  background:linear-gradient(to top, red 90% , green 50%, yellow 10%);
  color: transparent;
  background-clip: text;
  font-size: 19px;
  margin-top: 13px;
  margin-left: 10px;
}
.mobile-nav>ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}
.mobile-nav>ul>li{
  list-style: none;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 13px;
}
.mobile-nav>ul>li>a{
  color: white;
}
.mobile-nav>ul>li>a:hover{
  text-decoration: underline;
}
.mobile-nav>ul>i{
  margin-left: 10px;
  color: white;
}
.mobile-nav>ul>i{
  margin-top: 15px;
  gap: 10px;
}
/* ! Banner session start*/
.banner1{
  height: 60vh;
  width: 99.9%;
  position: relative;
  margin-top: 50px;
  z-index: 0;
}
.banner1>img{
  height: 60vh;
  width: 99.9%;
}
.banner1>.banner1-content{
  position:absolute;
  top:5%;
  left: 5%;
}
.banner1>.banner1-content>h4{
  color: black;
  opacity: 0.5;
  font-size: 19px;
}
.banner1>.banner1-content>h2{
  font-size: 33px;
}
.banner1>.banner1-content>#live1{
  margin-top: 60px;
}
.banner1>.banner1-content>a>#button-1{
  border-radius: 10px;
  width: 200px;
  background-color: black;
  color: white;
  transition: all 0.4s ease;
}
.banner1>.banner1-content>a>#button-1:hover{
  background-color: red;
  color: white;
}
.banner1>.banner1-content>#learn{
  text-decoration: underline;
  margin-top: 20px;
}
/* ? banner 2 */
.banner2{
  height: 60vh;
  width: 100%;
  position: relative;
  background-color: green;
  margin-top: 1px;
  z-index: 0;
}
.banner2>img{
  height: 60vh;
  width:100%;
}
.banner2>.banner1-content{
  position:absolute;
  top:5%;
  left: 5%;
}
.banner2>.banner1-content>h4{
  color: black;
  opacity: 0.5;
  font-size: 19px;
}
.banner2>.banner1-content>h2{
  font-size: 33px;
}
.banner2>.banner1-content>#live1{
  margin-top: 60px;
}
.banner2>.banner1-content>a>#button-1{
  border-radius: 10px;
  width: 200px;
  background-color: black;
  color: white;
  transition: all 0.4s ease;
}
.banner2>.banner1-content>a>#button-1:hover{
  background-color: red;
  color: white;
}
.banner2>.banner1-content>#learn{
  text-decoration: underline;
  margin-top: 20px;
}
/* ? banner 2 */
/* * Banner session end*/
/* ! block session start */
.main-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50vh;
  width: 100%;
  margin-top: 20px;
  z-index: 0;
  background-color: whitesmoke;
}
.main-block>.block1{
  height: 50vh;
  width: 45%;
  /* border-style: groove; */
  z-index: 0;
  position: relative;
}
.main-block>.block1>img{
  height: 50vh;
  width: 100%;
  border-radius: 20px;
}
.main-block>.block1>.block1-content{
  position: absolute;
  top: 20px;
  flex-wrap: wrap;
}
.main-block>.block1>.block1-content>h2{
  margin-left: 10px;
}
.main-block>.block1>.block1-content>p{
  font-size: 14px;
  margin-top: 10px;
}
.main-block>.block1>.block1-content>.block1-but{
  margin-top: 100px;
  border:none;
  font-size: 19px;
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 10vw;
}
.main-block>.block1>.block1-content>.block11-but{
color: white;
background-color: black;
margin-top: 60px;
width: 10vw;
border-radius: 10px;
}
.main-block>.block1>.block1-content>.block111-but{
color: white;
background-color: black;
width: 10vw;
border-radius: 10px;
}
.main-block>.block1>.block1-content>#white{
  color: white;
  margin-top: 260px;
}
.main-block>.block1>.block1-content>#whit{
  color: white;
  font-size: 21px;
  margin-left: 10px;
}
.main-block>.block1>.block1-content>#save1{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* ! block2 */
.main-block>.block1{
  height: 50vh;
  width: 45%;
  position: relative;
  z-index: 0;
}
.main-block>.block1>img{
  height: 50vh;
  width: 100%;
  border-radius: 20px;
}


/* ! block session end */
#slide-teller{
  font-size: 41px;
}
.parent{
  margin-top: 1110px;
  border:2px solid lightgray
}
.galary{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.galary img{
  width: 300px;
  height: 300px;
  padding: 10px;
  object-fit: cover;
  aspect-ratio: 3/2;
  border-style: groove;
}
.parent{
  width:99%;
  overflow-x: scroll;
}

/* footer */
footer{
  color: white;
}
.main-footer{
  height: 100vh;
  background-color: black;
  width: 100%;
}
.main-footer>.main-footer-content{
  background-color: black;
  height: 5vh;
  width: 100%;
  margin-top: 20px;
  color: white;
}
footer>#hr{
  color: white;
}
.main-footer>h2{
  margin-left: 40px;
}
.main-footer>h2>b{
  color: red;
}
.main-footer>.block1-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:80vh ;
  width: 100%;
  background-color: #fff;
}
.main-footer>.block1-main>.box1{
  background-color: black;
  height: 80vh;
  width: 40%;
}
.main-footer>.block1-main>.box1>h3{
  font-size: 51px;
  margin-left: 30px;
  margin-top: 70px;
}
.main-footer>.block1-main>.box1>p{
  margin-top: 180px;
  margin-left: 30px;
}
.main-footer>.block1-main>.box1>#under{
  margin-top: 10px;
  text-decoration: underline;
}
.main-footer>.block1-main>.box2{
  height: 80vh;
  width: 60%;
  box-sizing:border-box;
}
.main-footer>.block1-main>.box2>img{
  height: 80vh;
  width: 100%;
  border-radius: 0px;
  transition: all 0.4s ease;
}
/* ! second footer */
#footer2>.main-footer2{
  height: 70vh;   /*? height adjustment 500 vh - 140vh */
  width: 100%;
  background-color: black;
  margin-top: 2px;
}
#footer2>.main-footer2>.main-content-footer2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* ! box 3 */
#footer2>.main-footer2>.main-content-footer2>.box3{
  height: 70vh;
  width: 25vw;
  background-color: black;
}
#footer2>.main-footer2>.main-content-footer2>.box3>img{
  height: 40vh;
  width: 25vw;
}
#footer2>.main-footer2>.main-content-footer2>.box3>h3{
  font-size: 31px;
}
#footer2>.main-footer2>.main-content-footer2>.box3>b{
  margin-top: 10px;
  color: red;
  text-decoration: underline;
}
/* ! box 4 */
#footer2>.main-footer2>.main-content-footer2>.box4{
  height: 70vh;
  width: 25vw;
  background-color: black;
}
#footer2>.main-footer2>.main-content-footer2>.box4>img{
  height: 40vh;
  width: 25vw;
}
#footer2>.main-footer2>.main-content-footer2>.box4>h3{
  font-size: 31px;
}
#footer2>.main-footer2>.main-content-footer2>.box4>b{
  margin-top: 10px;
  color: red;
  text-decoration: underline;
}
/* ! box 4 */
#footer2>.main-footer2>.main-content-footer2>.box5{
  height: 70vh;
  width: 25vw;
  background-color: black;
}
#footer2>.main-footer2>.main-content-footer2>.box5>img{
  height: 40vh;
  width: 25vw;
}
#footer2>.main-footer2>.main-content-footer2>.box5>h3{
  font-size: 31px;
}
#footer2>.main-footer2>.main-content-footer2>.box5>b{
  margin-top: 10px;
  color: red;
  text-decoration: underline;
} 
/* ! left flex */ 
.left-flex-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70vh;
  width: 100%;
  background-color: black;
  color: white;
}
.left-flex-main>h2{
  font-size: 50px;
  font-weight: 300;
}
.left-flex-main>h2>b{
  color: red;
}
.left-flex-main>.left1{
  height: 51vh;
  width: 70%;
}
.left-flex-main>.left1>img{
  height: 51vh;
  width: 100%;
}
.left-flex-main>.left2{
  height: 51vh;
  width: 30%;
  background-color: black;
}
.left-flex-main>.left2>h3{
  font-size: 41px;
  margin-left: 20px;
}
.left-flex-main>.left2>p{
  margin-top: 160px;
  margin-left: 10px;
}
.left-flex-main>.left2>b{
  color: red;
  margin-left: 20px;
  text-decoration: underline;
}
/* ! left flex */
/* ! blue flex */ 
.left-flex-main2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70vh;
  width: 100%;
  background-color: black;
  color: white;
}
.left-flex-main2>h2{
  font-size: 50px;
  font-weight: 300;
}
.left-flex-main2>h2>b{
  color: red;
}
.left-flex-main2>.left1{
  height: 51vh;
  width: 30%;
}

.left-flex-main2>.left2{
  height: 51vh;
  width: 70%;
  background-color: black;
}
.left-flex-main2>.left2>img{
  height: 51vh;
  width: 100%;
}
.left-flex-main2>.left1>h3{
  font-size: 41px;
  margin-left: 20px;
}
.left-flex-main2>.left1>p{
  margin-top: 160px;
  margin-left: 10px;
}
.left-flex-main2>.left1>b{
  color: red;
  margin-left: 20px;
  text-decoration: underline;
}
/* ! blue flex */