/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  font-family: "Roboto Slab", serif;
}
/*? Desktop nav bar  start*/

.navbar-desk{
  position: fixed;
  height: 7vh;
  width: 99.9%;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
}
.navbar-desk>#nav-bar-title{
  height: 5vh;
  border-radius: 35px;
  margin-top: 5px;
  margin-left: 10px;
}
.navbar-desk>#name{
  font-size: 22px;
  margin-top: 10px;
  margin-left: 5px;
  background: linear-gradient(green 1% , red  100%, yellow 1%);
  color: transparent;
  background-clip: text;
}
.navbar-desk>ul{
  display: flex;
  gap: 40px;
  margin-left: 90px;
}
.navbar-desk>ul>li{
  list-style: none;
  margin-top: 10px;
}
.navbar-desk>ul>li>a{
  color: black;
  font-size: 15px;
  text-decoration: none;
}
.navbar-desk>ul>li>a:hover{
  text-decoration: underline;
  color: green;
}
.navbar-desk>span>i{
  margin-top: 10px;
  margin-left: 90px;
}
/*? Desktop nav bar  end*/

/* ! Mobile nav-bar */
.mobile-nav{
  height: 6vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
}
.mobile-nav>img{
  height: 4vh;
  width: 7.5vw;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 5px;
}
.mobile-nav>h4{
  background:linear-gradient(to top, red 90% , green 50%, yellow 10%);
  color: transparent;
  background-clip: text;
  font-size: 19px;
  margin-top: 13px;
  margin-left: 10px;
}
.mobile-nav>ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}
.mobile-nav>ul>li{
  list-style: none;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 13px;
}
.mobile-nav>ul>li>a{
  color: white;
}
.mobile-nav>ul>li>a:hover{
  text-decoration: underline;
}
.mobile-nav>ul>i{
  margin-left: 10px;
  color: white;
}
.mobile-nav>ul>i{
  margin-top: 15px;
  gap: 10px;
}
/* ! Banner session start*/
.banner1{
  height: 60vh;
  width: 99.9%;
  position: relative;
  background-color: green;
  margin-top: 50px;
  z-index: 0;
}
.banner1>img{
  height: 60vh;

  width: 99.9%;

  opacity: 0.9;
}
.banner1>.banner1-content{
  position:absolute;
  top:5%;
  left: 5%;
}
.banner1>.banner1-content>h4{
  color: black;
  opacity: 0.5;
  font-size: 19px;
}
.banner1>.banner1-content>h2{
  font-size: 33px;
}
.banner1>.banner1-content>#live1{
  margin-top: 60px;
}
.banner1>.banner1-content>a>#button-1{
  border-radius: 10px;
  width: 200px;
  background-color: black;
  color: white;
  transition: all 0.4s ease;
}
.banner1>.banner1-content>a>#button-1:hover{
  background-color: red;
  color: white;
}
.banner1>.banner1-content>#learn{
  text-decoration: underline;
  margin-top: 20px;
}
/* ? banner 2 */
.banner2{
  height: 60vh;
  width: 100%;
  position: relative;
  background-color: green;
  margin-top: 1px;
  z-index: 0;
}
.banner2>img{
  height: 60vh;

  width: 100%;

  opacity: 0.9;
}
.banner2>.banner1-content{
  position:absolute;
  top:5%;
  left: 5%;
}
.banner2>.banner1-content>h4{
  color: black;
  opacity: 0.5;
  font-size: 19px;
}
.banner2>.banner1-content>h2{
  font-size: 33px;
}
.banner2>.banner1-content>#live1{
  margin-top: 60px;
}
.banner2>.banner1-content>a>#button-1{
  border-radius: 10px;
  width: 200px;
  background-color: black;
  color: white;
  transition: all 0.4s ease;
}
.banner2>.banner1-content>a>#button-1:hover{
  background-color: red;
  color: white;
}
.banner2>.banner1-content>#learn{
  text-decoration: underline;
  margin-top: 20px;
}
/* ? banner 2 */
/* ! Banner session end*/
